In [1]:
import pandas as pd

In [2]:
file_three = "201506-citibike-tripdata.csv"

In [3]:
file_three_df = pd.read_csv(file_three, encoding="ISO-8859-1")

In [4]:
file_three_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

In [5]:
file_three_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941214,1053,6/30/2015 23:59,7/1/2015 0:17,323,Lawrence St & Willoughby St,40.692362,-73.986317,436,Hancock St & Bedford Ave,40.682166,-73.953990,17785,Subscriber,1989.0,1
941215,1149,6/30/2015 23:59,7/1/2015 0:18,116,W 17 St & 8 Ave,40.741776,-74.001497,487,E 20 St & FDR Drive,40.733143,-73.975739,21612,Customer,NaN,0
941216,3557,6/30/2015 23:59,7/1/2015 0:58,454,E 51 St & 1 Ave,40.754557,-73.965930,418,Front St & Gold St,40.702240,-73.982578,19976,Customer,NaN,0
941217,819,6/30/2015 23:59,7/1/2015 0:13,410,Suffolk St & Stanton St,40.720664,-73.985180,345,W 13 St & 6 Ave,40.736494,-73.997044,15932,Subscriber,1976.0,1
941218,667,6/30/2015 23:59,7/1/2015 0:10,308,St James Pl & Oliver St,40.713079,-73.998512,2008,Little West St & 1 Pl,40.705693,-74.016777,16915,Subscriber,1982.0,1

In [6]:
file_three_df.count()

tripduration               941219
starttime                  941219
stoptime                   941219
start station id           941219
start station name         941219
start station latitude     941219
start station longitude    941219
end station id             941219
end station name           941219
end station latitude       941219
end station longitude      941219
bikeid                     941219
usertype                   941219
birth year                 810827
gender                     941219
dtype: int64

In [7]:
clean_file_three = file_three_df.dropna(how='any')

In [8]:
clean_file_three.count()

tripduration               810827
starttime                  810827
stoptime                   810827
start station id           810827
start station name         810827
start station latitude     810827
start station longitude    810827
end station id             810827
end station name           810827
end station latitude       810827
end station longitude      810827
bikeid                     810827
usertype                   810827
birth year                 810827
gender                     810827
dtype: int64

In [9]:
clean_file_three.to_csv('file_three.csv', encoding='utf-8')